#home{
    height: 100vh;
    display: flex;
    justify-content: center;
}

.home__content {
    display: flex;
    flex-direction: column;
    color: #353353;
    justify-content: center;
    align-items: center;
}


#home .avatar{
    width: 108px;
    height: 108px;
    object-fit: cover;
    border-radius: 50%;
}

.home__social ul{
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: center;
}

.home__social ul li{
    cursor: pointer;
    margin-right: 1.5rem;
    transition: .4s ease
}

.home__social ul li:hover{
    color: #FFD15C;
}

.home__social ul li i {
    font-size: 21px;
}


.home__name{
    text-align: center;
    font-size: 36px;
    margin: 0 10px;
}

.home__description p{
    font-size: 16px;
    text-shadow: 0 0 100px #353353;
    text-align: center;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #353353; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto 20px auto; ; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 3.5s steps(30) infinite, blink-caret .75s step-end infinite;
}

.hireMe, .button{
    background: #FF4C60;
    border-radius: 60px;
    padding: 12px 32px;
    margin-top: 20px;
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/* ICON */

#icon {
    height: 0;
}

.p1 {
    left: 49px !important;
    top: 145px !important;
}

.p2 {
    left: 556px !important;
    top: 775px !important;
}
.p3 {
    left: 726px !important;
    top: 651px !important;
}
.p4 {
    left: 237px !important;
    top: 706px !important;
}
.p5 {
    left: 959px !important;
    top: 693px !important;
}
.p6 {
    left: 534px !important;
    top: 46px !important;
}
.p7 {
    left: 915px !important;
    top: 343px !important;
}
.p8 {
    left: 137px !important;
    top: 842px !important;
}
.p9 {
    left: 862px !important;
    top: 73px !important;
}
.p10 {
    left: 14px !important;
    top: 604px !important;
}
.p11 {
    left: 15px !important;
    top: 282px !important;
}
.p12 {
    left: 749px !important;
    top: 157px !important;
}
.p13 {
    left: 1028px !important;
    top: 784px !important;
}
.p14 {
    left: 691px !important;
    top: 303px !important;
}
.p15 {
    left: 740px !important;
    top: 816px !important;
}
.p16 {
    left: 277px !important;
    top: 134px !important;
}
.p17 {
    left: 483px !important;
    top: 131px !important;
}
.p18 {
    left: 950px !important;
    top: 232px !important;
}

.p19 {
    left: 348px !important;
    top: 610px !important;
}

.p20 {
    left: 918px !important;
    top: 444px !important;
}
.p21 {
    left: 290px !important;
    top: 344px !important;
}

.p22 {
    left: 115px !important;
    top: 443px !important;
}


/* ANIMATION DESCRIPTION TEXT*/
@keyframes typing {
    from { width: 0 }
    70%, 90% { width: 100% }
}

  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #353353; }
}


/* RESPONSIVE */

/* TABLET */

@media(min-width: 768px) and (max-width: 1023px) {

    .p4 {
        left: 237px !important;
        top: 906px !important;
    }

    .p6 {
        left: 487px !important;
        top: 956px !important;
    }

    .p11 {
        left: 527px !important;
        top: 286px !important;
    }

    .p14 {
        left: 587px !important;
        top: 456px !important;
    }

    .p21 {
        left: 237px !important;
        top: 326px !important;
    }
    
    /* over width */
    .p3, .p5, .p7, .p9, .p12, .p13, .p15, .p18, .p19, .p20{
        width: 0;
    }

}

/* MOBILE */

@media only screen and (min-width: 320px) and (max-width: 480px){
    .p4 {
        left: 187px !important;
        top: 686px !important;
    }
    .p8 {
        left: 337px !important;
        top: 626px !important;
    }
    .p21 {
        left: 287px !important;
        top: 286px !important;
    }
    .p22 {
        left: 187px !important;
        top: 126px !important;
    }
    /* over width */
    .p2, .p3, .p5, .p6, .p7, .p9, .p12, .p13, .p14, .p15, .p17, .p18, .p19, .p20{
        width: 0;
    }
}