.recentWork__nav {
    margin-top: 30px;
}

.recentWork__nav ul {
    display: flex;
    list-style-type: none;
}

.recentWork__nav ul li{
    margin-right: 30px;
    cursor: pointer;
    color: #5E5C7F;
    font-weight: bold;
    transition: all .5s ease-in-out;
}

.recentWork__nav ul li:hover{
    color: #FFD15C;
}

.recentWork__container {
    margin-top: 15px;
}

.recentWork__container--img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.recentWork__container img {
    margin-top: 25px;
    width: 480px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
} 

.recentWork__footer{
    text-align: center;
}