.services__info{
    display: flex;
    margin-top: 45px;
    justify-content: space-between;
    width: 100%;
}

.services__info--item{
    padding: 30px 20px;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    margin-right: 20px;
    width: 33,33%;
    transition: all .3s ease-in-out;
}

.services__info--item:nth-child(1){
    background-color: rgb(108, 108, 229);
}

.services__info--item:nth-child(2){
    background-color: rgb(249, 215, 76);
    color: black
}

.info__item--title:nth-child(2){
    color: black;
}

.services__info--item:nth-child(3){
    background-color: rgb(255, 76, 96);
}

.services__info--item .info__item--title{
    color: #fff;
    margin: 10px 0;
}

.services__info--item:hover{
    transform: translateY(-10px);
}

.services__footer{
    margin-top: 30px;
    text-align: center;
}

.services__footer a {
    color: #FFD15C;
}

.services__footer img{
    width: 16px;
    height: 16px;
}

/* RESPONSIVE */

/* MOBILE */

@media only screen and (min-width: 320px) and (max-width: 480px){
    #services {
        margin-top: 50px;
    }

    .services__head {
        margin-left: 40px;
    }

    .services__info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services__info--item {
        margin: 10px;
    }
}

/* TABLET */

@media(min-width: 768px) and (max-width: 1023px) {
    #services {
        margin-top: 50px;
    }

    .services__head {
        margin-left: 40px;
    }

    .services__info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services__info--item {
        width: 80%;
        margin: 10px;
    }
}