.technologies__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.skill__container--item {
    margin: 20px 30px;
}

.skill__item-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .5s ease-in-out;  
}

.skill__item-image:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
}


/* RESPONSIVE */

/* MOBILE */

@media only screen and (min-width: 320px) and (max-width: 480px){
    .technologies__head {
        margin-left: 40px;
    }

    .skill__container--item {
        margin: 20px;
    }

    .skill__item-image {
        filter: none; 
    }
}

/* TABLET */

@media(min-width: 768px) and (max-width: 1023px) {
    .technologies__head {
        margin-left: 40px;
    }

    .skill__item-image {
        filter: none; 
    }
}